<div id="newOpportunityModal" class="modal fade" data-id="modalNewOpportunity" role="dialog">

    <!-- Modal content-->
    <div class="modal-content modal-dialog" id="newOpportunityRegistrationModal">
        <div class="modal-header">
            <h3 class="modal-title">{{eventForm}}</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="newOpportunityForm" name="addEvent">
                        <div class="form-group">
                            <div>
                                <label for="organizationName">Organiztion Name</label>
                                <input type="text" class="form-control form-control-sm" name="organizationName" id="organizationName" required placeholder="{{organizationName}}"
                                    value="{{organizationNameFocus}}" onfocus="this.value='{{organizationNameFocus}}', this.placeholder='{{organizationNameFocus}}'">
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <label for="newOpportunityName">Event Name</label>
                                        <input type="text" class="form-control form-control-sm" name="opportunityName" id="opportunityName" required placeholder="{{opportunityName}}"
                                            value="{{opportunityNameFocus}}" onfocus="this.value='{{opportunityNameFocus}}', this.placeholder='{{pportunityNameFocus}}'">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <label for="tagLine">Event Tag Line</label>
                                        <input type="text" class="form-control form-control-sm" name="tagLine" id="tagLine" required placeholder="{{tagLine}}"
                                            value="{{tagLineFocus}}" onfocus="this.value='{{tagLineFocus}}', this.placeholder='{{tagLineFocus}}'">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <label for="phone">Contact Number</label>
                                        <input type="numbers" class="form-control form-control-sm" name="phone" id="organizationPhone" placeholder="{{phone}}" value="{{phoneFocus}}"
                                            onfocus="this.value='{{phoneFocus}}', this.placeholder='{{phoneFocus}}'">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div>
                                        <label for="eMail">Event E-mail </label>
                                        <input type="email" class="form-control form-control-sm" name="eMail" id="eMail" placeholder="{{email}}" value="{{emailFocus}}"
                                            onfocus="this.value='{{eMailFocus}}', this.placeholder='{{eMailFocus}}'">
                                    </div>
                                </div>
                            </div>

                            <div>
                                <label for="opportunityPhoto">URL address of a Photo of your event or organization.</label>
                                <input type="url" class="form-control form-control-sm" name="opportunityPhotoUrl" id="opportunityPhotoUrl" placeholder="{{opportunityPhotoUrl}}"
                                    value="{{opportunityPhotoUrlFocus}}" onfocus="this.value='{{opportunityPhotoUrlFocus}}', this.placeholder='{{opportunityPhotoUrlFocus}}'">
                            </div>
                            <div>
                                <label for="address">Address of Event</label>
                                <input type="text" class="form-control form-control-sm" name="address" id="address" placeholder="{{address}}" value="{{addressFocus}}"
                                    onfocus="this.value='{{addressFocus}}', this.placeholder='{{addressFocus}}'">
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div>
                                        <label for="city">City</label>
                                        <input type="text" class="form-control form-control-sm" name="city" id="city" placeholder="{{city}}" onfocus="this.placeholder=''"
                                            value="{{cityFocus}}" onfocus="this.value='{{cityFocus}}', this.placeholder='{{cityFocus}}'">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div>
                                        <label for="state">State</label>
                                        <select class="form-control form-control-sm" id="selectState" class="form-control">
                                            <option selected>"{{selectState}}"</option>
                                            <option value="AL">AL</option>
                                            <option value="AK">AK</option>
                                            <option value="AZ">AZ</option>
                                            <option value="AR">AR</option>
                                            <option value="CA">CA</option>
                                            <option value="CO">CO</option>
                                            <option value="CT">CT</option>
                                            <option value="DE">DE</option>
                                            <option value="FL">FL</option>
                                            <option value="GA">GA</option>
                                            <option value="HI">HI</option>
                                            <option value="ID">ID</option>
                                            <option value="IL">IL</option>
                                            <option value="IN">IN</option>
                                            <option value="IA">IA</option>
                                            <option value="KS">KS</option>
                                            <option value="KY">KY</option>
                                            <option value="18">LA</option>
                                            <option value="ME">ME</option>
                                            <option value="MD">MD</option>
                                            <option value="MA">MA</option>
                                            <option value="MI">MI</option>
                                            <option value="MN">MN</option>
                                            <option value="MS">MS</option>
                                            <option value="MO">MO</option>
                                            <option value="MT">MT</option>
                                            <option value="NE">NE</option>
                                            <option value="NV">NV</option>
                                            <option value="NH">NH</option>
                                            <option value="NJ">NJ</option>
                                            <option value="NM">NM</option>
                                            <option value="NY">NY</option>
                                            <option value="NC">NC</option>
                                            <option value="ND">ND</option>
                                            <option value="OH">OH</option>
                                            <option value="OK">OK</option>
                                            <option value="OR">OR</option>
                                            <option value="PA">PA</option>
                                            <option value="RI">RI</option>
                                            <option value="SC">SC</option>
                                            <option value="SD">SD</option>
                                            <option value="TN">TN</option>
                                            <option value="TX">TX</option>
                                            <option value="UT">UT</option>
                                            <option value="VT">VT</option>
                                            <option value="VA">VA</option>
                                            <option value="WA">WA</option>
                                            <option value="WV">WV</option>
                                            <option value="WI">WI</option>
                                            <option value="WY">WY</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <label for="zip">Zip Code</label>
                                        <input type="number" class="form-control form-control-sm" name="zip" id="zip" placeholder="{{zip}}" value="{{zipFocus}}"
                                            onfocus="this.value='{{zipFocus}}', this.placeholder='{{zipFocus}}'">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div>
                                        <label for="Date">Date</label>
                                        <input type="date" class="form-control form-control-sm" name="date" id="date" required placeholder="{{date}}" value="{{dateFocus}}"
                                            onfocus="this.value='{{dateFocus}}', this.placeholder='{{dateFocus}}'">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <label for="startTime">Start Time</label>
                                        <input type="time" class="form-control form-control-sm" name="startTime" id="startTime" required placeholder="{{startTime}}" value="{{startTimeFocus}}"
                                            onfocus="this.value='{{startTimeFocus}}', this.placeholder='{{startTimeFocus}}'">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div>
                                        <label for="endTime">End Time</label>
                                        <input type="time" class="form-control form-control-sm" name="endTime" id="endTime" required placeholder="{{endTime}}" value="{{endTimeFocus}}"
                                            onfocus="this.value='{{endTimeFocus}}', this.placeholder='{{endTimeFocus}}'">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <label for="inOrOut">Indoors or Outdoors</label>
                                    <select required class="form-control form-control-sm" id="opportunitySelectInOrOut">
                                        <option value="">"{{inOrOut}}"</option>
                                        <option value="1">Indoor</option>
                                        <option value="2">Outdoor</option>
                                        <option value="3">Both</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <label for="numNeeded">Volunteers Needed</label>
                                    <input type="number" class="form-control form-control-sm" name="volunteers_needed" id="volunteersNeeded" required placeholder="{{volunteersNeeded}}"
                                        value="{{volunteersNeededFocus}}" onfocus="this.value='{{volunteersNeededFocus}}', this.placeholder='{{volunteersNeededFocus}}'">
                                </div>
                            </div>
                            <div id="skillsBox">
                                <label for="skills">Special Skills - Check all that apply</label>
                                <div class="row" style="margin-top:-10px; margin-bottom: 10px">
                                    <div class="col-sm-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="cooking" {{cooking}}>Cooking
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="gardening" {{gardening}}>Gardening
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="painting" {{painting}}>Painting
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="carpentry" {{carpentry}}>Carpentry
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="plumbing" {{plumbing}}>Plumbing
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="electrical" {{electrical}}>Electrical
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="publicRelations" {{publicRelations}}>PR
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="marketing" {{marketing}}>Marketing
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="sales" {{sales}}>Sales
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="programming" {{programming}}>Programming
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="fundRaising" {{fundRaising}}>Fundraising
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" name="skills" value="teaching" {{teaching}}>Teaching
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="message" style="color:red; margin-bottom: 10px"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button id="newOpportunityRegistration" data-action="{{formAction}}" class="btn btn-primary btn-xl text-uppercase" type="submit"
                                    value="{{buttonName}}">{{buttonName}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>